.matchField {
    background-color: white;
    width: calc(80% + 4px);
    border-radius: 0px 0px 10px 10px;
    padding: 5px 0px;
    overflow-y: scroll;
    max-height: 8rem;
}

.matchItem {
    padding: 5px;
}
